{{!-- {{user_id}} --}}
{{#each categories as |c|}}
<a href="/quiz/{{c.user_id}}/{{c.category}}">
<section class="hero is-primary has-text-centered">
  <div class="hero-body">
    <p class="title">
  {{c.category}}
</p>
    <p class="subtitle">
     
    </p>
  </div>
</section>
</a>
<br>

{{/each}}