<!-- Loop over each object in the projects array -->
{{#if logged_in}}
<input style="display:none" id="userId"
value="{{user_id}}">



<section>

<section class="section">


{{#each quiz as |q| }}
<div class="container">
      <div class="column is-4-tablet is-3-desktop"></div>    
      <div class="card">     
        <div class="card-content">        
          <div class="media">        
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
               <p>
      {{q.question}}
    </p>
   

            </div>
          </div>
          <div class="content">
               <p>checked = true</p>
    <p>unchecked = false</p>
    <input type="checkbox" id="answer">
          </div>
        </div>
      </div>
    </div>
{{!-- <div class="row mb-4 project">

  <div class="col-md-7">
    <p>
      {{q.question}}
    </p>
    <p>
      {{q.answer}}
    </p>
    <p>checked = true</p>
    <p>unchecked = false</p>
    <input type="checkbox" id="answer">

    
</div> --}}
{{/each}}
</section>

<button id="submitQuiz">Submit</button>
{{/if}}